
html, body {
  flex-direction: column;
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.4;
}

main {
    background-color: powderblue;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(79, 139, 172);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}


.title {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    color: white;
    padding-right: 50px;
    padding-left: 30px;
}

#websocket-placeholder {
    border: 2px dashed white;
    padding: 10px;
    width: 250px;
    height: 50px;
    text-align: center;
    margin-left: auto;
    color: white
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 15px 0 0 0;
}

.login-box{
    background: powderblue;
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;

    flex-shrink: 0;
    margin-left: 20px;
    width: 300px;
    box-sizing: border-box;
}

.login-box input {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 120px;
    box-sizing: border-box;
}

.login-box button{
    background-color: rgb(79, 139, 172);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
}

.login-box button:hover {
  background-color: rgb(60, 110, 140);
}


footer {
  background-color: rgb(79, 139, 172);
  display: flex;
  flex-direction: colum;
  align-items: center;
  padding: 1rem;
  font-size: 0.9rem;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.footer-bottom {
    text-align: center;
    font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

section:nth-child(1) {
  flex: 1;
  background-color: hsl(180, 10%, 80%);
}
section:nth-child(2) {
  flex: 3;
  background-color: white;
}


table {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 20px;
  background-color: #fdfdfd;
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.calendar-container {
    max-height: 500px;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    
}

.calendar {
  flex: 1;
}

.calendar-container thead th{
    position: sticky;
    top: 0;
    background: #4f8bac;
    color: white;
    z-index: Z;
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  background-color: #4f8bac;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f5f9fc; 
}

.days-of-the-week{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px 8px 0 0;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;
}


.days{
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
}

.day {
  flex: 0 0 auto;
  min-width: 100px;
  padding: 10px;
  margin: 0 5px;
  background: #4f8bac;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  font-weight: bold;
}

.day:hover {
    background: hover;
    color: white;
}

.days-of-the-week button{
    background: none;
    border: 1px solid gray;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#location-placeholder {
    text-align: center;
}

.image {
  width: 25%;
  min-width: 500px;
  max-width: 1000px;
  height: auto;
  margin-left: 5px;
  border-radius: 25px;
  }