@import url("index.css");

main {
    background-color: powderblue;
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(79, 139, 172);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1{
  padding-right: 50px;   
  padding-left: 30px;
}

h2{
    color: white;
    align-items: center;
}

#websocket-placeholder {
    border: 2px dashed white;
    padding: 10px;
    width: 250px;
    height: 50px;
    text-align: center;
    margin-left: auto;
    color: white
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 15px 0 0 0;
}

.todo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex: 1;
}

.todo-list {
    flex: 1 1 250px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    padding: 0.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    min-height: 300px;
}

.todo-list input {
    font-weight: bold;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #4f8bac;
    margin-bottom: 0.5rem;
}

.todo-list textarea {
    flex: 1;
    resize: none;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
