.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30vh;
    text-align: center;
}

h1 {
     font-size: 35px;
    font-weight: bold;
    margin: 0;
    color: white;
    padding-right: 50px;
    padding-left: 30px;
}

h2 {
    margin-bottom: 20px;;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.login-container input {
    padding: 5px;
    font-size: 1rem;
}

.buttons-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.buttons-row button {
    padding: 10px 15px;
    font-size: 1rem;
}