.calendar-container {
    display: flex;
    flex-direction: column;
    width: 100%
}

.calendar-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%
}


.days-of-the-week {
    background: powderblue;
    font-size: 20px;

    display: flex;               
    justify-content: center;  
    gap: 10px;                
    padding: 10px 0;  
    margin-bottom: 20px; 
}

th:first-child, 
td.first-child {
    width: 100px;
    text-align: left;
}


.days {
    display: flex;
    gap: 10px;
}


.day.selected {
    background-color: rgb(55, 98, 119);
    color: white;
}

tbody {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
