main {
    background-color: powderblue;
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(79, 139, 172);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1{
  padding-right: 50px;   
  padding-left: 30px;
}

h2{
    color: white;
    background-color:  rgb(79, 139, 172);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
}

.options-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
    border-radius: 8px;
    max-height: 80px;
    font-size: 30px;
    margin-bottom: 15px;
    padding: 0.5rem 1rem;
    gap: 50px;
}

.options-buttons div {
    background-color: rgb(79, 139, 172);
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 15px 0 0 0;
}

.todo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex: 1;
}

.todo-list {
    flex: 1 1 250px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    padding: 0.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    min-height: 300px;
    max-height: 400px;
}

.todo-list input {
    font-weight: bold;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #4f8bac;
    margin-bottom: 0.5rem;
}

.todo-list textarea {
    flex: 1;
    resize: none;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
